@{
    ViewData["Title"] = "Historic Data";
}
<h1>@ViewData["Title"]</h1>

<h6 class="display-6">Daily</h6>
<canvas id="historicChartDaily" width="600" height="340"></canvas>

<h6 class="display-6">Total</h6>
<canvas id="historicChartTotal" width="600" height="340"></canvas>

<div class="btn-group" role="group" aria-label="Time period selector">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio1">All time</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2">Year</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">Month</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio4">Week</label>
  
  <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio5">Day</label>
</div>

<br/>


@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/charting.js"></script>
}
