@using System.Diagnostics
@using InterServer.Logic
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

<div class="align-content-lg-start">
    <h5>Current system state:</h5>
    
    <div class="gaugesContainer">
        <div class="gauge-wrapper">
            <p id="gauge-value-label1" class="gauge-value-label">Loading...</p>
            <canvas id="gaugeCanvas1" width="160" height="180"></canvas>
            <p class="gauge-label">Battery charge</p>
        </div>
        <div class="gauge-wrapper">
            <p id="gauge-value-label2" class="gauge-value-label">Loading...</p>
            <canvas id="gaugeCanvas2" width="160" height="180"></canvas>
            <p class="gauge-label">Battery usage</p>
        </div>
    </div>
    <div class="gaugesContainer">
        <div class="gauge-wrapper">
            <p id="gauge-value-label3" class="gauge-value-label">Loading...</p>
            <canvas id="gaugeCanvas3" width="160" height="160"></canvas>
            <p class="gauge-label">Current production</p>
        </div>
        <div class="gauge-wrapper">
            <p id="gauge-value-label4" class="gauge-value-label">Loading...</p>
            <canvas id="gaugeCanvas4" width="160" height="160"></canvas>
            <p class="gauge-label">Current consumption</p>
        </div>
    </div>
    
    <br/>
    
    <p id="currentData" class="lds-dual-ring">
        @section scripts {
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/js/dataUpdater.js"></script>
            <script>
                refreshDataOnLoad()
            </script>
        }
    </p>
    <br/>
    <button class="btn-lg" onclick="refreshBtnClick()">Refresh</button>
</div>
