@using System.Diagnostics
@using InterServer.Logic
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

<div class="align-content-lg-start">
    <h5>Current system state:</h5>
    
    <div class="gaugesContainer">
        <div class="gauge-wrapper">
            <p id="gauge-value-label1" class="gauge-value-label">Loading...</p>
            <canvas id="gaugeCanvas1" width="160" height="180"></canvas>
            <p class="gauge-label">Battery charge</p>
        </div>
        <div class="gauge-wrapper">
            <p id="gauge-value-label2" class="gauge-value-label">Loading...</p>
            <canvas id="gaugeCanvas2" width="160" height="180"></canvas>
            <p class="gauge-label">Battery usage</p>
        </div>
    </div>
    <div class="gaugesContainer">
        <div class="gauge-wrapper">
            <p id="gauge-value-label3" class="gauge-value-label">Loading...</p>
            <canvas id="gaugeCanvas3" width="160" height="180"></canvas>
            <p class="gauge-label">Current production</p>
        </div>
        <div class="gauge-wrapper">
            <p id="gauge-value-label4" class="gauge-value-label">Loading...</p>
            <canvas id="gaugeCanvas4" width="160" height="180"></canvas>
            <p class="gauge-label">Current consumption</p>
        </div>
    </div>
    <p id="dataFreshnessTimestamp" class="fst-italic" ></p>
    
    <br/>
        
    <div class="accordion" id="accordionData">
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    Battery Values
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p id="currentDataBattery" class="lds-dual-ring"></p>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    Load Values
                </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p id="currentDataLoad" class="lds-dual-ring"></p>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    Inverter Values
                </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p id="currentDataInverter" class="lds-dual-ring"></p>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    Grid Values
                </button>
            </h2>
            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p id="currentDataGrid" class="lds-dual-ring"></p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    Daily Values
                </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p id="currentDataDaily" class="lds-dual-ring"></p>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading8">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    Total Values
                </button>
            </h2>
            <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p id="currentDataTotal" class="lds-dual-ring"></p>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    System Info
                </button>
            </h2>
            <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p id="currentDataSystem" class="lds-dual-ring"></p>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading7">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    Everything combined
                </button>
            </h2>
            <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p id="currentDataAll" class="lds-dual-ring">
                    @section scripts {
                        <script src="~/lib/jquery/dist/jquery.min.js"></script>
                        <script src="~/js/dataUpdater.js"></script>
                        <script>
                            refreshDataOnLoad()
                        </script>
                    }
                    </p>
                </div>
            </div>
        </div>
    </div>


    <br/>
    <button id="refreshBtn" class="btn-lg" onclick="refreshBtnClick()">Refresh</button>
</div>
