@using System.Diagnostics
@using InterServer.Logic
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

<div class="align-content-lg-start">
    <h5>Current system state:</h5>
    <p class="fst-italic">Here should be a graph with some cached data, taken from DB.</p>
    <p id="currentData" class="lds-dual-ring">
        @section scripts {
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/js/dataUpdater.js"></script>
            <script>
                refreshDataOnLoad()
            </script>
        }
    </p>
    <br/>
    <button class="btn-lg" onclick="refreshBtnClick()">Refresh</button>
</div>
