@{
    ViewData["Title"] = "Home Page";
}
<style>
    .preserve-newlines {
        white-space: pre;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="align-content-lg-start">
    <h5>Current system state:</h5>
    <p class="fst-italic">Here should be a graph with some cached data, taken from DB.</p>
    <p class="preserve-newlines">
        @{
            var response =  new RequestHandler().ResponseManager(ResponseType.Ok,ReplyDataType.CachedData); //"Here should be a graph with some cached data, taken from DB.";
            //JsonSerializer.Serialize(response)
            @response.data
        }
    </p>
    <button class="btn-lg" onclick="refreshBtnClick()">Refresh</button>
</div>
