@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>This website, and a project as a whole, <strong>InterServer</strong>, respects your privacy and is committed to transparency. We believe in providing data freely and openly, without collecting any personal information from you.</p>

<h3>What data do we collect?</h3>

<p><strong>None.</strong> We do not collect any data from you when you visit our website. This includes, but is not limited to, your:</p>

<ul>
    <li>Name</li>
    <li>Email address</li>
    <li>IP address</li>
    <li>Browsing history</li>
    <li>Device information</li>
</ul>

<h3>How do we use your data?</h3>

<p>We do not use any data from you because we do not collect any. We believe in providing open access to information without tracking or targeting individuals.</p>

<h3>Data provided by the website</h3>

<p>The data available on this website is provided without any warranty or guarantee. It is your responsibility to verify the accuracy and completeness of the information before using it for any purpose. We make no representations or warranties, express or implied, about the validity, reliability, or completeness of the data.</p>

<h3>Open-source nature of the website</h3>

<p>The codebase of this website is open-source and available for you to examine and contribute to. You can find the code at <a href="https://github.com/NumixAvali/InterServer">repository link</a>.</p>

<h3>Changes to this Privacy Notice</h3>

<p>We may update this Privacy Notice from time to time. <u>We will not notify you of any changes</u> by posting the new Privacy Notice on this website. You are advised to review this Privacy Notice periodically for any changes.</p>

<h3>Summary:</h3>

<p>This website prioritizes your privacy by not collecting any data. The information provided is offered freely, without warranty or guarantee. The website's code is open-source for transparency and collaboration. We encourage you to review this Privacy Notice regularly for any updates.</p>

<p>Please note that this is a general template and you may need to modify it to reflect the specific features and functionality of your website. It is also advisable to consult with legal counsel to ensure your Privacy Notice complies with applicable laws and regulations.</p>
